# Exercise: Add query functions
In this exercise, Python is used to connect to the Little Lemon database and execute SQL queries to retrieve customer and order information.

In [1]:
import sys
sys.version

'3.11.14 | packaged by conda-forge | (main, Oct 22 2025, 22:35:28) [MSC v.1944 64 bit (AMD64)]'

In [2]:
# Establish connection to MySQL database
import mysql.connector as connector

## Task 1: Connect to the database
In this task, a connection to the Little Lemon MySQL database is established using the MySQL Connector for Python. A cursor object is also created to allow SQL queries to be executed.

In [3]:
# Establish connection
import os
import mysql.connector as connector

connection = connector.connect(
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    host="localhost",
    database="littlelemondb"
)


cursor = connection.cursor()

print("Connected and cursor created")

Connected and cursor created

## Task 2: Display all tables in the database

This task executes a SQL query to display all tables available in the Little Lemon database, verifying that the connection has been successfully established.

In [4]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

In [5]:
results = cursor.fetchall()
print(results)

[('bookings',), ('customerdetails',), ('menuitems',), ('orderdeliverystatus',), ('orderitems',), ('orders',), ('ordersview',), ('staffinformation',)]

## Task 3: Query customer details using a JOIN

In this task, an SQL query is executed using an INNER JOIN to retrieve the full name and contact details of customers who have placed orders with a total cost greater than $60.

In [6]:
query = """
SELECT 
    CONCAT(cd.FirstName, ' ', cd.LastName) AS FullName,
    cd.Phone,
    cd.Email,
    o.TotalCost
FROM CustomerDetails cd
INNER JOIN Orders o
    ON cd.CustomerID = o.CustomerID
WHERE o.TotalCost > 60;
"""

cursor.execute(query)
results = cursor.fetchall()

for row in results:
    print(row)

('Vanessa McCarthy', '5551234567', 'vanessa@email.com', Decimal('250.00'))
('Marcos Romero', '5559876543', 'marcos@email.com', Decimal('200.00'))